<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="wrapper">
            <div class="logo">
                <a href="."><img id="dibs_logo" src="assets/images/DIBS_Logo.png" alt=""></a>
            </div>
            <span>© Institut Wohnen und Umwelt GmbH, 2024</span>
        </div>
        <!-- <div class="links">
            <a href="https://github.com/IWUGERMANY"><i class="fa-brands fa-github fa-xl" style="color: #333;"></i></a>
            <a href="https://www.xing.com/pages/institutwohnenundumweltgmbh"><i class="fa-brands fa-xing fa-xl" style="color: #026466;"></i></a>
            <a href="https://www.linkedin.com/company/institut-wohnen-und-umwelt-gmbh"><i class="fa-brands fa-linkedin fa-xl" style="color: #0a66c2;"></i></a>
        </div> -->
    </footer>
</body>
</html>