body{
    overflow-x: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20232A;
    padding: 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    gap: 40px;
}


footer span{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    color: #3998B6;
}