*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #20232A;
    height: 70px;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: rgba(227, 227, 230, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .a_tag{
    display: block;
    text-decoration: none !important;
    color: #3998B6 !important;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    transition-delay: 100ms;
    margin: 0 10px;
  }

  .a_tag:hover{
    color:white !important;
  }


  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    width: 80px;
    height: 50px;
    background-color: white;
  }

  .logo img {
    width: 80px;
    height: 50px;
    object-fit: contain;
  }

  .active {
    color: white !important;
    text-decoration: none;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    transition-delay: 100ms;
    margin: 0 10px;
  }
